.dirigente-bg {
  background: #ddad5a url("/img/elemento-ar.png") no-repeat right top;
}
.dirigente {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  background: url("/img/aang-bg.png") no-repeat left bottom;
}

.dirigente-descricao {
  margin-top: 40px;
}

.dirigente-descricao h1 {
  color: #f9faf1;
  font-size: 84px;
  margin-bottom: 20px;
}

.dirigente-descricao p {
  font-size: 20px;
  color: #161109;
  font-weight: 500;
  margin-bottom: 48px;
}

.dirigente-imagem {
  background: url("/img/shape.svg") no-repeat;
}

.dirigente-info {
  align-self: center;
}

.dirigente-info h2 {
  font-size: 24px;
  color: #161109;
  margin-bottom: 8px;
}

.dirigente-info p {
  margin-bottom: 20px;
  color: #42341b;
}

.btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: none;
  color: #161109;
  letter-spacing: 1.2px;
}
