.footer-bg {
  background: #ddad5a url("/img/elemento-ar.png") no-repeat left center;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.copy {
  font-size: 20px;
  align-self: end;
}

.proximo-personagem-descricao {
  font-size: 20px;
  max-width: 500px;
}
.proximo-personagem {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
