.footer-bg {
  background: #ddad5a url("/img/elemento-ar.png") no-repeat left top;
}

.footer {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 20px;
  padding: 40px 0;
}
.copy {
  align-self: end;
}

.proximo-personagem-descricao {
  max-width: 500px;
}
.proximo-personagem {
  display: flex;
  align-items: center;
  gap: 20px;
}
