.header-bg {
  background-color: #c79c51;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  padding: 20px;
  color: #42341b;
  font-size: 1.25rem;
}

.header-menu a:hover {
  color: #f9faf1;
  border-bottom: #f9faf1 solid 2px;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 16px;
  }
  .header-menu a {
    padding: 12px;
    font-size: 1.25rem;
  }

  @media (max-width: 600px) {
    .header-menu {
      display: none;
    }
  }
}
