.header-bg {
  background-color: var(--aang-color-header-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  padding: 20px;
  color: var(--aang-color-font);
  font-size: 1.25rem;
}

.header-menu a:hover {
  color: var(--aang-color-destaque);
  border-bottom: var(--aang-color-destaque) solid 2px;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 16px;
  }
  .header-menu a {
    padding: 12px;
    font-size: 1.25rem;
  }

  @media (max-width: 600px) {
    .header-menu {
      display: none;
    }
  }
}
