#katara .header-bg {
  background-color: var(--katara-color-header-bg);
}

#katara .header-menu a {
  color: var(--katara-color-font);
}

#katara .header-menu a:hover {
  color: var(--katara-color-destaque);
  border-bottom: var(--katara-color-destaque) solid 2px;
}
