#katara .header-bg {
  background-color: var(--katara-color-header-bg);
}

#katara .header-menu a {
  color: var(--katara-color-font);
}

#katara .header-menu a:hover,
#katara .header-menu a.ativo {
  color: var(--katara-color-destaque);
}

#katara .header-menu a.ativo {
  border-bottom: var(--katara-color-destaque) solid 2px;
}

#katara .mobile-menu div {
  background: var(--katara-color-destaque);
}

#katara .header.ativo .header-menu {
  background: var(--katara-color-header-bg);
}
