* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-bg {
  background-color: #c79c51;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 100%;
  display: block;
  height: auto;
}

.header-menu {
  display: flex;
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-menu a {
  text-decoration: none;
  padding: 20px;
  color: #42341b;
  font-size: 24px;
}

.header-menu a:hover {
  color: #f9faf1;
  border-bottom: #f9faf1 solid 2px;
}

.dirigente-bg {
  background: #ddad5a url("img/elemento-ar.png") no-repeat right top;
}
.dirigente {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  background: url("img/aang-bg.png") no-repeat left bottom;
}

.dirigente-descricao {
  margin-top: 40px;
}

.dirigente-descricao h1 {
  color: #f9faf1;
  font-size: 84px;
  margin-bottom: 20px;
}

.dirigente-descricao p {
  font-size: 20px;
  color: #161109;
  font-weight: 500;
  margin-bottom: 48px;
}

.dirigente-imagem {
  background: url("img/shape.svg") no-repeat;
}

.dirigente-info {
  align-self: center;
}

.dirigente-info h2 {
  font-size: 24px;
  color: #161109;
  margin-bottom: 8px;
}

.dirigente-info p {
  margin-bottom: 20px;
  color: #42341b;
}

.btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: none;
  color: #161109;
  letter-spacing: 1.2px;
}

.footer-bg {
  background: #ddad5a url("img/elemento-ar.png") no-repeat left center;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.copy {
  font-size: 20px;
  align-self: end;
}

.proximo-personagem-descricao {
  font-size: 20px;
  max-width: 500px;
}
.proximo-personagem {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.proximo-personagem img {
  border-radius: 50%;
  box-shadow: inset -0.8em 0 #f9faf1, 0.19em 0 #f9faf1;
}
