* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-bg {
  background-color: #c79c51;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 100%;
  display: block;
  height: auto;
}

.header-menu {
  display: flex;
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-menu a {
  text-decoration: none;
  padding: 20px;
  color: #42341b;
  font-size: 24px;
}

.header-menu a:hover {
  color: #f9faf1;
  border-bottom: #f9faf1 solid 2px;
}

.teste {
  background: #ddad5a url("img/elemento-ar-reduzido.png") no-repeat right top;
}
main {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  background: url("img/aaabb.png") no-repeat left bottom;
}

.personagem-descricao {
  margin-top: 40px;
}

.personagem-descricao h1 {
  color: #f9faf1;
  font-size: 84px;
  margin-bottom: 20px;
}

.personagem-descricao p {
  font-size: 20px;
  color: #161109;
  font-weight: 500;
  margin-bottom: 48px;
}

.btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: none;
  color: #161109;
  letter-spacing: 1.2px;
}

.personagem-imagem {
  background: url("img/blob.svg") no-repeat;
}

.personagem-info {
  align-self: center;
}

.personagem-info h2 {
  font-size: 24px;
  color: #161109;
  margin-bottom: 8px;
}

.personagem-info p {
  margin-bottom: 20px;
  color: #42341b;
}

footer {
  height: 300px;
  background-color: #ddad5a;
}
