#toph .header-bg {
  background-color: var(--toph-color-header-bg);
}

#toph .header-menu a {
  color: var(--toph-color-font);
}

#toph .header-menu a:hover,
#toph .header-menu a.ativo {
  color: var(--toph-color-destaque);
  border-bottom: var(--toph-color-destaque) solid 2px;
}

#toph .mobile-menu div {
  background: var(--toph-color-destaque);
}

#toph .header.ativo .header-menu {
  background: var(--toph-color-header-bg);
}
