.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 24px;
  border: none;
  color: #161109;
  letter-spacing: 1.2px;
  background-color: #f9faf1;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 720px) {
  .btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}
