:root {
  --aang-color-header-bg: #c79c51;
  --aang-color-bg: #ddad5a;
  --aang-color-destaque: #f9faf1;
  --aang-color-font: #90682f;
  --aang-color-font-2: #42341b;

  --katara-color-header-bg: #06639a;
  --katara-color-bg: #3296cd;
  --katara-color-destaque: #d1cdc6;
  --katara-color-font: #99c6e5;
  --katara-color-font-2: #002235;

  --zuko-color-header-bg: #280d05;
  --zuko-color-bg: #5a0d04;
  --zuko-color-destaque: #ecb449;
  --zuko-color-font: #a45434;
  --zuko-color-font-2: #90682f;

  --toph-color-header-bg: #363f0e;
  --toph-color-bg: #909e4f;
  --toph-color-destaque: #0d1514;
  --toph-color-font: #f3e8bd;
  --toph-color-font-2: #363129;

  --sokka-color-header-bg: #7396b6;
  --sokka-color-bg: #80a7ca;
  --sokka-color-destaque: #ffffff;
  --sokka-color-font: #3c576e;
  --sokka-color-font-2: #0e1419;
}
