:root {
  --aang-color-header-bg: #c79c51;
  --aang-color-bg: #ddad5a;
  --aang-color-destaque: #f9faf1;
  --aang-color-font: #42341b;

  --katara-color-header-bg: #06639a;
  --katara-color-bg: #3296cd;
  --katara-color-destaque: #d1cdc6;
  --katara-color-font: #99c6e5;
  --katara-color-font-2: #002235;
}
