#zuko .header-bg {
  background-color: var(--zuko-color-header-bg);
}

#zuko .header-menu a {
  color: var(--zuko-color-font);
}

#zuko .header-menu a:hover,
#zuko .header-menu a.ativo {
  color: var(--zuko-color-destaque);
  border-bottom: var(--zuko-color-destaque) solid 2px;
}

#zuko .mobile-menu div {
  background: var(--zuko-color-destaque);
}

#zuko .header.ativo .header-menu {
  background: var(--zuko-color-header-bg);
}
