.footer {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 20px;
  padding: 40px 20px;
}
.copy {
  font-size: 1rem;
  align-self: end;
}

.proximo-personagem {
  padding: 20px;
  font-size: 1.25rem;
}

.proximo-personagem:hover {
  width: max-content;
  height: max-content;
}

@media (max-width: 950px) {
  .footer {
    font-size: 1rem;
  }

  .copy {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .footer-bg {
    background-position-y: bottom;
  }

  .footer {
    grid-template-columns: auto 1fr;
    padding-bottom: 12px;
    padding-top: 40px;
  }

  .copy {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer-bg {
    background-position-y: 70%;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .proximo-personagem {
    justify-self: center;
  }

  .copy {
    grid-row: 3;
  }
}
