/*Menu Mobile ativo -> Retirar scroll do body*/
body.esconder {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  padding: 20px;
  font-size: 1.25rem;
}

.header-menu a:hover {
  transition: 0.3s;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  margin: 8px;
  transition: 0.3s;
}

.header.ativo .mobile-menu .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.header.ativo .mobile-menu .line2 {
  opacity: 0;
}
.header.ativo .mobile-menu .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 800px) {
  .header-menu {
    gap: 16px;
  }
  .header-menu a {
    padding: 12px;
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .header-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .header.ativo .header-menu {
    width: 100%;
    display: flex;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 20px;
  }

  .header.ativo .header-menu a {
    font-size: 2.4rem;
  }
}
