.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  padding: 20px;
  font-size: 1.25rem;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: aliceblue;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.ativo .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.ativo .line2 {
  opacity: 0;
}
.mobile-menu.ativo .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 800px) {
  .header-menu {
    gap: 16px;
  }
  .header-menu a {
    padding: 12px;
    font-size: 1.25rem;
  }

  @media (max-width: 600px) {
    .header-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
    }
  }
}
