#sokka .header-bg {
  background-color: var(--sokka-color-header-bg);
}

#sokka .header-menu a {
  color: var(--sokka-color-font);
}

#sokka .header-menu a:hover,
#sokka .header-menu a.ativo {
  color: var(--sokka-color-destaque);
}

#sokka .header-menu a.ativo {
  border-bottom: var(--sokka-color-destaque) solid 2px;
}

#sokka .mobile-menu div {
  background: var(--sokka-color-destaque);
}

#sokka .header.ativo .header-menu {
  background: var(--sokka-color-header-bg);
}
