#aang .dirigente-bg {
  background: var(--aang-color-bg) url("/img/tribos/tribo-ar.png") no-repeat
    right top;
}

#aang .dirigente {
  background: url("/img/aang-bg.png") no-repeat left bottom;
}

#aang .dirigente-descricao h1 {
  color: var(--aang-color-destaque);
}

#aang .dirigente-imagem {
  background: url("/img/aang-shape.svg") no-repeat;
}

#aang .dirigente-info p {
  color: var(--aang-color-font);
}

#aang .dirigente-info h2,
#aang .dirigente-descricao p {
  color: var(--aang-color-font-2);
}
