#aang .footer-bg {
  background: var(--aang-color-bg) url("/img/tribos/tribo-ar.png") no-repeat
    left top;
}

#aang .proximo-personagem,
#aang .proximo-personagem-descricao {
  color: var(--aang-color-font-2);
}

#aang .proximo-personagem:hover {
  color: var(--aang-color-destaque);
  border-bottom: var(--aang-color-destaque) solid 2px;
}
