#aang .footer-bg {
  background: var(--aang-color-bg) url("/img/tribo-ar.png") no-repeat left top;
}

#aang .proximo-personagem:hover {
  color: var(--aang-color-destaque);
  border-bottom: var(--aang-color-destaque) solid 2px;
}
