#aang .header-bg {
  background-color: var(--aang-color-header-bg);
}

#aang .header-menu a {
  color: var(--aang-color-font);
}

#aang .header-menu a:hover,
#aang .header-menu a.ativo {
  color: var(--aang-color-destaque);
  border-bottom: var(--aang-color-destaque) solid 2px;
}

#aang .mobile-menu div {
  background: var(--aang-color-destaque);
}

#aang .header.ativo .header-menu {
  background: var(--aang-color-header-bg);
}
